# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Django
db.sqlite3
staticfiles/
media/
*.log

# Ambiente e segredos (nunca versionar)
.env

# Editores e sistema
.vscode/
.idea/
.DS_Store

# Vercel
.vercel/
